<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join Room</title>
    
    <link rel="stylesheet" href="/static/join.css">
  </head>
  <body>
    <div class="card">
        <form action="/join" method="post">
            <h2>Join Party</h2>
            <p style="color:#aaa; font-size: 0.9em;">Room Code: {{ code }}</p>
            <input type="hidden" name="session_id" value="{{ code }}">
            <input type="text" name="username" placeholder="Enter your display name" required autofocus>
            <button type="submit">Join</button>
        </form>
    </div>
  </body>
</html>