<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Stream Aggregator</title>
		<script src="https://unpkg.com/htmx.org@1.9.10"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
	</head>
	<body class="container">


		<h1>Audio stream</h1>
		<button onclick="window.location.href='{{ url_for('room') }}';">
			Host A Room	
		</button>

		<hr>

		<div id="player-container">
			<p>No audio playing.</p>
		</div>

	</body>
</html>
